<style type="text/css">
main {
    -sebkit-box-shadow: none;
    box-shadow: none;
    font-size: 14px;
}
a {
    color: #2196f3;
    text-decoration: none;
}
a:active, a:hover {
    color: #0a6ebd;
    text-decoration: underline;
}
div.view {
    padding: 0px 0px 0px 0px;
}
div#draw_area {
    padding: 0px 0px 0px 0px;
}
h3.stanza_table {
    font-size: 24px;
    margin: 10px 0px 10px 0px;
}
select.go_count_select, select.go_category_select{
    height: 30px;
    font-size: 14px;
    background-color: #f2f2f2;
    border: solid #c6c6c6 1px; 
    border-radius: 5px;
    margin: 20px 0px 20px 0px;
    padding: 0px 10px 0px 10px;
    cursor: pointer;
}
</style>
<div id="draw_area"></div>
